@{
    ViewBag.Title = "Event";
}

<div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-blue"></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
            <div class="row">
                <div class="col s10 m6 l6">
                    <h5 class="breadcrumbs-title mt-0 mb-0"><span>Manage Events</span></h5>
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="AdminDashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Manage Events</li>
                    </ol>
                </div>
                <div class="col s2 m6 l6">
                    <a class="waves-effect waves-light breadcrumbs-btn right btn modal-trigger" href="#modal1"><i class="material-icons left">add</i> Add New</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <!-- Page Length Options -->
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="progress datable-loading hide">
                                <div class="indeterminate"></div>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">Events Data</h4>
                                <div class="row">
                                    <div class="col s12">
                                        <table id="tblEvent" class="display table">
                                            <thead>
                                            <tr>
                                                <th style="width: 20px">#</th>
                                                <th>Image</th>
                                                <th>Subject</th>
                                                <th>Description</th>
                                                <th>Active</th>
                                                <th>Feature</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th style="width: 20px">#</th>
                                                <th>Image</th>
                                                <th>Subject</th>
                                                <th>Description</th>
                                                <th>Active</th>
                                                <th>Feature</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                                <th>Action</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="content-overlay show"></div> *@
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="progress ae-loading hide mt-0">
        <div class="indeterminate"></div>
    </div>
    @* <form enctype="multipart/form-data"> *@
        <div class="modal-content">

            <h5 class="header-title">Add New Event</h5>
            <div class="row">
                    <div class="input-field col s12">
                        <p>Maximum file upload size 1MB.</p>
                        <input type="file" id="image" class="dropify" data-max-file-size="1M" />
                    </div>
                    <div class="input-field col s12">
                        <input type="text" class="validate" id="subject" required>
                        <label for="subject">Subject *</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="description" class="materialize-textarea validate" required></textarea>
                        <label for="description">Description *</label>
                    </div>
                    <div class="input-field col s6">
                        <div class="switch">
                            Active
                            <label class="float-right">
                                <input class="active" type="checkbox" id="active" checked="checked" value="1">
                                <span class="lever ml-0">
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <div class="switch">
                            Feature
                            <label class="float-right">
                                <input class="feature" type="checkbox" id="feature" checked="checked" value="1">
                                <span class="lever ml-0">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light modal-close btn-light-red" type="submit" name="action">Cancel
                        <i class="material-icons left">close</i>
                    </button>
                    <button class="btn waves-effect waves-light" type="submit" id="btn-event-save" name="action">Save
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </div>
    @* </form> *@
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal">
    <div class="progress ae-loading hide mt-0">
        <div class="indeterminate"></div>
    </div>
    <div class="modal-content">

        <h5 class="header-title">Update Event</h5>
        
        <div class="row">
            <div class="input-field col s6">
                <p>Maximum file upload size 1MB.</p>
                <input type="hidden" id="evn_id">
                <input type="file" id="e-image" class="dropify" data-max-file-size="1M" />
            </div>
            <div class="input-field col s6">
                <p>View Image.</p>
                <div class="image white" style="height: 200px; border: 2px solid #E5E5E5">
                    <img id="view-image" style="width: 100%; height: 100%; object-fit: contain" alt="" src="">
                </div>
            </div>
            <div class="input-field col s12">
                <input placeholder="Enter subject" id="e-subject" type="text" class="validate">
                <label for="e-subject">Subject *</label>
            </div>
            <div class="input-field col s12">
                <textarea placeholder="Enter description" id="e-description" class="materialize-textarea"></textarea>
                <label for="e-description">Description *</label>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light modal-close btn-light-red" type="submit" name="action">Cancel
                    <i class="material-icons left">close</i>
                </button>
                <button class="btn waves-effect waves-light orange" type="submit" id="btn-evn-update" name="action">Save
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/vendors/jquery/jquery-3.6.3.min.js"></script>
<script type="text/javascript">
    let eventSubNav = document.querySelectorAll('.event-sub-nav');
    
    document.querySelector('.administrator-main-nav').classList.add('active');
    eventSubNav.forEach((item) => {
        item.classList.add('active');
    });
    
    let table;
    let list_event = [];
    $(function() {
        table = $('.table').DataTable({
            data: list_event,
            columns: [
                {data:'eventId', autoWidth: true},
                {data:'photo', autoWidth: true,
                    'render': function(data) {
                        return `<img src="data:image/png;base64,${data}" width="150" alt="">`;
                    }
                },
                {data:'subject', autoWidth: true},
                {data:'description', autoWidth: true},
                {data:'active', autoWidth: true,
                    'render': function(data) {
                        return `
                            <div class="switch">
                                <label class="float-left">
                                    <input class="edit-active" type="checkbox" ${data === true ? 'checked' : ''}>
                                    <span class="lever ml-0">
                                    </span>
                                </label>
                            </div>
                        `;
                    }
                },
                {data:'feature', autoWidth: true,
                    'render': function(data) {
                        return `
                            <div class="switch">
                                <label class="float-left">
                                    <input class="edit-feature" type="checkbox" ${data === true ? 'checked' : ''}>
                                    <span class="lever ml-0">
                                    </span>
                                </label>
                            </div>
                        `;
                    }
                },
                {data:'createdDate', autoWidth: true},
                {data:'updatedDate', autoWidth: true},
                {data:'eventId', autoWidth: true,
                    'render': function(data) {
                        return `<a id="${data}" class="mb-6 btn-floating waves-effect waves-light modal-trigger cyan btn-edit-evn" href="#modal2"><i class="material-icons">edit</i></a>`;
                    }
                }
            ],
            "responsive": false,
            "lengthChange": true,
            "autoWidth": true,
            "searching": true,
            "paging": true,
            "scrollY": '60vh',
            "scrollX": true,
            "scrollCollapse": true,
        });
    });
    getAllEvent();
    
    // pass data to controller
    $('input[type="file"]').change(function() {
        ReadImage(this);
    });
    
    // initialize img to base64
    let img;
    function ReadImage(input) { //function preview image before upload to server
        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function (e) {
                img = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    // initialize status active or inactive
    let active = 1;
    let feature = 1;
    $("input[type='checkbox'].active").click(function () {
        if ($("input[type='checkbox'].active").is(':checked')) {
            active = 1;
        } else {
            active = 0;
        }
    });// end
    $("input[type='checkbox'].feature").click(function () {
        if ($("input[type='checkbox'].feature").is(':checked')) {
            feature = 1;
        } else {
            feature = 0;
        }
    });// end
    
    $('#btn-event-save').click(function() {
        let obj_evn = {};
        if (img != null) {
            let imgs = img.split(",");
            obj_evn.Photo = imgs[1];
        }
        obj_evn.Subject = $('#subject').val();
        obj_evn.Description = $('#description').val();
        obj_evn.Active = active;
        obj_evn.Feature = feature;
        
        // pass data to controller object
        $.ajax({
            url: '@Url.Action("PostEvent", "Event")',
            type: 'POST',
            dataType: 'JSON',
            data: {objEvn: obj_evn},
            beforeSend: function() {
              
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Successfully added!"});
                    clearForm();
                    getAllEvent();
                } else {
                    alert("Your data not add please try again later!");
                }
            },
            complete: function() {
              
            }
        });
    });
    // end pass data to controller
    
    // get data by id
    $(document).on('click', '.btn-edit-evn', function() {
        let evn_id = $(this).attr('id');
        
         $.ajax({
            url: '@Url.Action("GetEvnById", "Event")',
            type: 'GET',
            dataType: 'JSON',
            data: {id: evn_id},
            beforeSend: function() {
                
            },
            success: function(data) {
                //console.table(data);
                data.forEach((item) => {
                    $('#evn_id').val(item.eventId);
                    $('#view-image').attr('src', `data:image/png;base64,${item.photo}`);
                    $('#e-subject').val(item.subject);
                    $('#e-description').val(item.description);
                });
            }
        });
    });
    
    // pass data to controller for update event
    $('#btn-evn-update').click(function() {
        let obj_evn = {};
        obj_evn.EventId = $('#evn_id').val();
        if (img != null) {
            let imgs = img.split(",");
            obj_evn.Photo = imgs[1];
        }
        obj_evn.Subject = $('#e-subject').val();
        obj_evn.Description = $('#e-description').val();
        
        $.ajax({
            url: '@Url.Action("PostUpdateEvn", "Event")',
            type: 'POST',
            dataType: 'JSON',
            data: {objEvn: obj_evn},
            beforeSend: function() {
              
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Successfully updated!"});
                    $('.dropify-clear').click();
                    $('#modal2').modal('close');
                    getAllEvent();
                } else {
                    alert("Your data not add please try again later!");
                }
            }
        });
    });// end
    
    // pass data to update active
    $(document).on('click', '.edit-active', 'td', function() {
        let col_id = $(this).closest('tr');
        let evn_id = col_id.find('td:eq(0)').text();
        let active;
        $(this).is(':checked') ? active = 1 : active = 0;
        
        let obj_atv = {};
        obj_atv.EventId = evn_id;
        obj_atv.Active = active;
        
        $.ajax({
            url: '@Url.Action("EditAtv", "Event")',
            type: 'POST',
            dataType: 'JSON',
            data: {objAtv: obj_atv},
            beforeSend: function() {
              
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Active has been updated!"});
                } else {
                    alert("Your data not add please try again later!");
                }
            }
        });
    });// end
    
    // pass data to update feature
    $(document).on('click', '.edit-feature', 'td', function() {
        let col_id = $(this).closest('tr');
        let ft_id = col_id.find('td:eq(0)').text();
        let feature;
        $(this).is(':checked') ? feature = 1 : feature = 0;
        
        let obj_ft = {};
        obj_ft.EventId = ft_id;
        obj_ft.Feature = feature;
        
        $.ajax({
            url: '@Url.Action("EditFt", "Event")',
            type: 'POST',
            dataType: 'JSON',
            data: {objFt: obj_ft},
            beforeSend: function() {
                
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Feature has been updated!"});
                } else {
                    alert("Your data not add please try again later!");
                }
            }
        });
    });// end
    
    //get all event
    function getAllEvent() {
        $.ajax({
            url: '@Url.Action("GetAllEvent", "Event")',
            type: 'GET',
            dataType: 'JSON',
            beforeSend: function() {
                //setLoading();
            },
            success: function(data) {
                //console.table(data);
                list_event = [];
                list_event = data;
                table.clear();
                table.rows.add(list_event);
                table.draw();
            },
            complete: function() {
                completedLoading();
            }
        });
    } // end get all event
    
    // clear form data
    function clearForm() {
        $('.dropify-clear').click();
        $('#subject').val('');
        $('#description').val('');
    }
    
</script>
