@{
    ViewBag.Title = "Department";
}

<div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
            <div class="row">
                <div class="col s10 m6 l6">
                    <h5 class="breadcrumbs-title mt-0 mb-0"><span>Manage Department</span></h5>
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="AdminDashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Manage Department</li>
                    </ol>
                </div>
                <div class="col s2 m6 l6">
                    <a class="waves-effect waves-light breadcrumbs-btn right btn modal-trigger" href="#modal1"><i class="material-icons left">add</i> Add New</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <!-- Page Length Options -->
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="progress datable-loading hide">
                                <div class="indeterminate"></div>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">Department Data</h4>
                                <div class="row">
                                    <div class="col s12">
                                        <table id="table" class="display">
                                            <thead>
                                            <tr>
                                                <th style="width: 20px">#</th>
                                                <th>Department Name</th>
                                                <th>Parent</th>
                                                <th>Active</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th style="width: 20px">#</th>
                                                <th>Department Name</th>
                                                <th>Parent</th>
                                                <th>Active</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                                <th>Action</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="content-overlay show"></div> *@
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    @* <div class="progress ae-loading mt-0"> *@
    @*     <div class="indeterminate"></div> *@
    @* </div> *@
    <div class="modal-content">

        <h5>Add New Department</h5>

        <div class="row">
            <div class="input-field col s6">
                <input type="text" class="validate" id="dpm_name" required>
                <label for="dpm_name">Name *</label>
            </div>
            <div class="input-field col s6">
                <select id="parent">
                    <option value="0">Main</option>
                </select>
                <label>Defualt by main</label>
            </div>
            <div class="input-field col s12">
                <div class="switch">
                    Active
                    <label class="float-right">
                        <input class="active" type="checkbox" id="active" checked="checked" value="1">
                        <span class="lever ml-0">
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light modal-close btn-light-red" type="submit" name="action">Cancel
                    <i class="material-icons left">close</i>
                </button>
                <button class="btn waves-effect waves-light" type="submit" id="btn-dpm-save">Save
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal">
    @* <div class="progress ae-loading mt-0"> *@
    @*     <div class="indeterminate"></div> *@
    @* </div> *@
    <div class="modal-content">

        <h5>Update Department</h5>

        <div class="row">
            <div class="input-field col s6">
                <input type="hidden" id="dpm-id">
                <input placeholder="Enter subject" id="e-dpm-name" type="text" class="validate" required="required">
                <label for="e-dpm-name">Name *</label>
            </div>
            <div class="input-field col s6">
                <select class="browser-default" id="e-parent">
                    <option value="0">Main</option>
                </select>
                @* <label for="e-parent">Defualt</label> *@
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light modal-close btn-light-red" type="submit" name="action">Cancel
                    <i class="material-icons left">close</i>
                </button>
                <button class="btn waves-effect waves-light orange" type="submit" id="btn-dpm-update">Save
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/vendors/jquery/jquery-3.6.3.min.js"></script>
<script type="text/javascript">

    let departmentSubNav = document.querySelectorAll('.department-sub-nav');
    let addStatusBtn = document.querySelector('.add-status-btn');
    
    document.querySelector('.administrator-main-nav').classList.add('active');
    departmentSubNav.forEach((item) => {
        item.classList.add('active');
    });
    
    let table;
    let list_dpm = [];
    $(function() {
        table = $('#table').DataTable({
            data: list_dpm,
            columns: [
                {data: 'departmentId'},
                {data: 'departmentName'},
                {data: 'parentName'},
                {data: 'active',
                    'render': function(data) {
                        return `
                            <div class="switch">
                                <label class="float-left">
                                    <input class="edit-active" type="checkbox" ${data === true ? 'checked' : ''}>
                                    <span class="lever ml-0">
                                    </span>
                                </label>
                            </div>
                        `;
                    }
                },
                {data: 'createdDate'},
                {data: 'updatedDate'},
                {data:'departmentId',
                    'render': function(data) {
                        return `<a id="${data}" class="mb-6 btn-floating waves-effect waves-light cyan modal-trigger btn-edit-dpm" href="#modal2"><i class="material-icons">edit</i></a>`;
                    }
                }
            ]
        });
    });
    
    // initialize status active or inactive
    let active = 1;
    $("input[type='checkbox'].active").click(function () {
        if ($("input[type='checkbox'].active").is(':checked')) {
            active = 1;
        } else {
            active = 0;
        }
    });// end
    
    // add new data into database
    $('#btn-dpm-save').click(function() {
        let obj_dpm = {};
        obj_dpm.DepartmentName = $('#dpm_name').val();
        obj_dpm.ParentId = $('#parent').val();
        obj_dpm.Active = active;
        
        $.ajax({
            url: '@Url.Action("PostDepartment", "Department")',
            type: 'POST',
            dataType: 'JSON',
            data: {objDpm: obj_dpm},
            beforeSend: function() {
              
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Successfully added!"});
                    clearForm();
                    getDepartment();
                } else {
                    alert("Your data not add please try again later!");
                }
            }
        });
    });//end
    
    // get data by id
    $(document).on('click', '.btn-edit-dpm', function() {
        let dpm_id = $(this).attr('id');
        
        $.ajax({
            url: '@Url.Action("GetDpmById", "Department")',
            type: 'GET',
            dataType: 'JSON',
            data: {id: dpm_id},
            beforeSend: function() {
              
            },
            success: function(data) {
                //console.table(data)
                for (let i = 0;i < data.length;i++) {
                    $('#dpm-id').val(data[i].departmentId);
                    $('#e-dpm-name').val(data[i].departmentName);
                    $('#e-parent').val(data[i].parentId);
                }
            }
        });
    });// end
    
    //Post update data into datatasbe
    $('#btn-dpm-update').click(function () {
        let obj_dpm = {};
        obj_dpm.DepartmentName = $('#e-dpm-name').val();
        obj_dpm.ParentId = $('#e-parent').val();
        obj_dpm.DepartmentId = $('#dpm-id').val();
        
        $.ajax({
            url: '@Url.Action("PostUpdateDepartment", "Department")',
            type: 'POST',
            dataType: 'JSON',
            data: {objDpm: obj_dpm},
            beforeSend: function() {
                
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Successfully updated!"});
                    getDepartment();
                } else {
                    alert("Your data not add please try again later!");
                }
            },
            complete: function() {
                $('#modal1').modal('close');
            }
        });
    });// end
    
    // Update Status
    $(document).on('click', '.edit-active', function() {
        
    });
    
    // clear form data
    function clearForm() {
        $('#dpm_name').val('');
    }
    
    // call the function
    getDepartment();
    
    // call the function from controller
    function getDepartment() {
        $.ajax({
            url: '@Url.Action("GetAllDepartment", "Department")',
            type: 'GET',
            dataType: 'JSON',
            beforeSend: function() {
                console.log("Loading...");
            },
            success: function(data) {
                //console.table(data);
                list_dpm = [];
                list_dpm = data;
                table.clear();
                table.rows.add(list_dpm);
                table.draw();
            }
        });
    }
    
    // call get parent from database
    getParent();
    function getParent() {
        $.ajax({
            url: '@Url.Action("GetParent", "Department")',
            type: 'GET',
            dataType: 'JSON',
            beforeSend: function() {
                console.log("Loading...");
            },
            success: function(data) {
                //$('#e-parent').append(`<option value="">Main</option>`);
                for (let i = 0;i < data.length;i++) {
                    $('#parent').append(`<option value="${data[i].departmentId}">${data[i].departmentName}</option>`);
                    $('#e-parent').append(`<option value="${data[i].departmentId}">${data[i].departmentName}</option>`);
                }
            }
        });
    }

</script>