@{
    ViewBag.Title = "Manager Ticket";
    Layout = "_ManagerLayout";
}

<div class="row mb-4">
    <div class="col s12">
        <div class="container">
            <div class="section">
                <!-- Page Length Options -->
                <div class="row">
                    <div class="col s12">
                        <table id="table" class="display width-100">
                            <thead>
                            <tr>
                                <th style="min-width: 5px">#</th>
                                <th>Ticket Code</th>
                                <th>User Name</th>
                                <th>Subject</th>
                                <th>Status Name</th>
                                <th>Created Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-overlay"></div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal3" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5>Transfer</h5>
        <div class="col mt-2 mb-2">
            <div class="input-field">
                <textarea class="validate materialize-textarea" id="type-comment" required="required"></textarea>
                <small class="errorTxt4"><div id="type-comment-error" class="error hide">This field is required.</div></small>
                <label for="type-comment">Comment</label>
            </div>
        </div>
        <div class="input-field">
            <select id="department" required="required">
                <option value="">Choose department</option>
            </select>
            <label for="department">Choose department</label>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light modal-close btn-light-red">Cancel
                    <i class="material-icons left">close</i>
                </button>
                <button class="btn waves-effect waves-light cyan hide" id="btn-transfer-to">Transfer
                    <i class="material-icons right">arrow_outward</i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal modal-fixed-footer">
    
    <div class="modal-loading">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
    
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
    
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
    
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-header">
        <h5>View Details</h5>
        <a class="modal-close display-flex justify-content-center">
            <i class="material-icons">close</i>
        </a>
    </div>

    <div class="modal-content pt-2">
        <div class="row" id="product-one">
            <div class="col m8 s8">
                <!-- Swiper -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <table>
                    <tr>
                        <input type="hidden" id="tk-id">
                        <th>Ticket Code</th>
                        <td>:</td>
                        <td class="ticket-code"></td>
                    </tr>
                    <tr>
                        <th>Customer Name</th>
                        <td>:</td>
                        <td class="name"></td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>:</td>
                        <td class="status"></td>
                        <input type="hidden" id="status"/>
                    </tr>
                    <tr>
                        <th>Request Type</th>
                        <td>:</td>
                        <td class="indidual"></td>
                    </tr>
                    <tr>
                        <th>Subject</th>
                        <td>:</td>
                        <td class="subject"></td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>:</td>
                        <td class="description"></td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>:</td>
                        <td class="phone"></td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>:</td>
                        <td class="address"></td>
                    </tr>
                    <tr>
                        <th>Created Date</th>
                        <td>:</td>
                        <td class="created-date"></td>
                    </tr>
                </table>
                <div class="input-field mt-4">
                    <input type="text" class="validate" id="comment" required="required"/>
                    <div id="comment-error" class="error hide">This field is required.</div>
                    <label for="comment">Comments</label>
                </div>
                <div class="input-field mt-4 hide hide-service">
                    <input type="text" class="validate" id="service-call" required="required"/>
                    <div id="service-error" class="error hide">This field is required.</div>
                    <label for="service-call">Service call id</label>
                </div>
                <div class="input-field mt-4 hide hide-drp-employee">
                    <select id="employee-name">
                    </select>
                    <label for="employee-name">EmployeeName</label>
                </div>
            </div>
            <div class="col m4 s4">
                hi thear
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s12 is-accept hide">
                <button class="btn waves-effect waves-light btn-light-red" id="btn-reject">Reject
                    <i class="material-icons left">close</i>
                </button>
                <button class="btn waves-effect waves-light green" id="btn-accept">Accept
                    <i class="material-icons right">check</i>
                </button>
                <button class="btn waves-effect waves-light deep-purple" id="btn-transfer">Transfer To
                    <i class="material-icons right">arrow_outward</i>
                </button>
            </div>
            <div class="col s12 is-assign hide">
                <a class="btn waves-effect waves-light deep-purple" id="btn-assign">Asign To
                    <i class="material-icons right">assignment_add</i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="~/assets/vendors/jquery/jquery-3.6.3.min.js"></script>
<script type="text/javascript">
    let liveTicketMainNav = document.querySelectorAll('.liveTicketMainNav');
        
    liveTicketMainNav.forEach((item) => {
        item.classList.add('active');
    });
    
    let table;
    let list_ticket = [];
    $(function() {
        table = $('#table').DataTable({
            data: list_ticket,
            columns: [
                {data: 'no'},
                {data: 'ticketCode'},
                {data: 'username'},
                {data: 'subject'},
                {data: 'statusId',
                    'render': function(data) {
                        return `<span class="${data === 1 ? 'badge orange' : data === 2 ? 'badge blue' : ''}">${data === 1 ? 'Requested' : data === 2 ? 'Accepted' : ''}</span>`;
                    }
                },
                {data: 'createdDate'},
                {data:'ticketId',
                    'render': function(data) {
                        return `<a id="${data}" class="mb-6 waves-effect waves-light modal-trigger btn-view-tk" href="#modal2"><i class="material-icons">remove_red_eye</i></a>`;
                    }
                }
            ],
            "responsive": false,
            "lengthChange": true,
            "autoWidth": true,
            "searching": true,
            "paging": true,
            "scrollY": '60vh',
            "scrollX": true,
            "scrollCollapse": true
        });
    });// end
    
    // click to call data from database
    $(document).on('click', '.btn-view-tk', function() {
        let tk_id = $(this).attr('id');
        
        $.ajax({
            url: '@Url.Action("GetManagerTicketById", "Ticket")',
            type: 'GET',
            dataType: 'JSON',
            data: {id: tk_id},
            beforeSend: function() {
                createLoading();
            },
            success: function(data) {
                //console.table(data);
                let statuses = $('.status');
                $('.swiper-slide').remove();
                data.forEach((item) => {
                    $(`<div class="swiper-slide">
                       <img src="data:image/png;base64,${item.photo}" alt="Photo image ticket"/>
                    </div>`).appendTo('.swiper-wrapper');
                    $('#tk-id').val(item.ticketId);
                    $('.ticket-code').text(item.ticketCode);
                    $('.name').text(item.createdByName);
                    if (item.statusId === 1){
                        statuses.html('<span class="badge orange">Requested</span>');
                        $('.hide-drp-employee').addClass('hide');
                    } else if (item.statusId === 2) {
                        statuses.html('<span class="badge blue">Accepted</span>');
                        $('.hide-drp-employee').removeClass('hide');
                        $('.hide-service').removeClass('hide');
                    }
                    $('#status').val(item.statusId);
                    $('.indidual').text(item.indidual);
                    $('.subject').text(item.subject);
                    $('.description').text(item.description);
                    $('.phone').text(item.phone);
                    $('.address').text(item.userAddress);
                    $('.created-date').text(item.createdDate);
                });

                let status = $('#status').val();
                let isAccept = $('.is-accept');
                let isAssign = $('.is-assign');
                
                //console.log(status);

                if (status == 1) {
                    isAccept.removeClass('hide');
                    isAssign.addClass('hide');
                } else if (status == 2) {
                    isAssign.removeClass('hide');
                    isAccept.addClass('hide');
                    $('.hide-comment').addClass('hide');
                }
            },
            complete: function() {
                removeLoading();
            }
        });
    });// end
    
    // validate
    function validate() {
        let commentEL = $('#comment');
        let errorEl = $('#comment-error');
        
        if (commentEL.val() === "") {
            commentEL.focus();
            errorEl.removeClass('hide');
            return false;
        } else {
            errorEl.addClass('hide');
        }
        
        return true;
    }
    
    // validate transfer
    function validateType() {
        let commentEL = $('#type-comment');
        let errorEl = $('#type-comment-error');
        
        if (commentEL.val() === "") {
            commentEL.focus();
            errorEl.removeClass('hide');
            return false;
        } else {
            errorEl.addClass('hide');
        }
        
        return true;
    }
    
    // validate  assign
    function validateAssign() {
        let commentEL = $('#comment');
        let serviceEL = $('#service-call');
        let errorEl = $('#comment-error');
        let errorEl2 = $('#service-error');
        
        if (commentEL.val() === "") {
            commentEL.focus();
            errorEl.removeClass('hide');
            return false;
        } else {
            errorEl.addClass('hide');
        }
        if (serviceEL.val() === "") {
            serviceEL.focus();
            errorEl2.removeClass('hide');
            return false;
        } else {
            errorEl.addClass('hide');
        }
        
        return true;
    }
    
    // click to accept
    $('#btn-accept').click(function() {
        if (!validate()) {
            return;
        }
        
        let obj_tk = {};
        obj_tk.TicketId = $('#tk-id').val();
        obj_tk.Comment = $('#comment').val();
        
        $.ajax({
            url: '@Url.Action("TicketAccept", "Ticket")',
            type: 'POST',
            dataType: 'JSON',
            data: {objTk: obj_tk},
            beforeSend: function() {
                
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Ticket has been accepted!"});
                    $('#modal2').modal('close');
                    $('#comment-error').addClass('hide');
                    getByManagerTicket();
                    clearForm();
                } else {
                    alert("Failed please try again later!");
                }
            }
        });
    });// end
    
    // click to accept
    $('#btn-reject').click(function() {
        if (!validate()) {
            return;
        }
        
        let obj_tk = {};
        obj_tk.TicketId = $('#tk-id').val();
        obj_tk.Comment = $('#comment').val();
        
        $.ajax({
            url: '@Url.Action("TicketReject", "Ticket")',
            type: 'POST',
            dataType: 'JSON',
            data: {objTk: obj_tk},
            beforeSend: function() {
              
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Ticket has been rejected!"});
                    $('#modal2').modal('close');
                    $('#comment-error').removeClass('hide');
                    getByManagerTicket();
                    clearForm();
                } else {
                    alert("Failed please try again later!");
                }
            }
        });
    });// end
    
    // click button to transfer ticket
    $('#btn-transfer-to').click(function() {
        if (!validateType()) {
            return;
        }
        
        let obj_tf = {};
        obj_tf.TicketId = $('#tk-id').val();
        obj_tf.Comment = $('#type-comment').val();
        obj_tf.DepartmentId = $('#department').val();
        
        $.ajax({
            url: '@Url.Action("TransferTo", "Ticket")',
            type: 'POST',
            dataType: 'JSON',
            data: {objTf: obj_tf},
            beforeSend: function() {
                console.log("Loading...");
            },
            success: function(data) {
                 if (data === 1) {
                    M.toast({html:"Ticket has been transfer!"});
                    $('#modal3').modal('close');
                    getByManagerTicket();
                } else {
                    alert("Failed please try again later!");
                }
            }
        });
    });
    
    // click to show popup transfer
    $('#btn-transfer').click(function() {
        $('#modal2').modal('close');
        $('#modal3').modal('open');
        $('#btn-transfer-to').removeClass('hide');
        $('#btn-assign-to').addClass('hide');
    });
    
    // click to show popup assign
    $('#btn-assign').click(function() {
        if (!validateAssign()) {
            return;
        }
        
        let obj_asn = {};
        obj_asn.TicketId = $('#tk-id').val();
        obj_asn.Comment = $('#comment').val();
        obj_asn.ServiceCallId = $('#service-call').val();
        obj_asn.AssignId = $('#employee-name').val();
        
        $.ajax({
            url: '@Url.Action("TicketAssign", "Ticket")',
            type: 'POST',
            dataType: 'JSON',
            data: {objAsn: obj_asn},
            beforeSend: function() {
                console.log("Loading...");
            },
            success: function(data) {
                 if (data === 1) {
                    M.toast({html:"Ticket has been assign!"});
                    $('#modal2').modal('close');
                    clearForm();
                    getByManagerTicket();
                } else {
                    alert("Failed please try again later!");
                }
            }
        });
    });
    
    // close to clear btn
    $('.modal-close').click(function() {
        $('.is-assign').addClass('hide');
        $('.is-accept').addClass('hide');
        $('.hide-comment').removeClass('hide');
        $('.hide-drp-employee').addClass('hide');
        $('.hide-service').addClass('hide');
        $('#comment-error').addClass('hide');
        $('#service-error').addClass('hide');
    });
    
    // call the function
    getDepartment();
    // Get data for transfer department
    function getDepartment() {
        $.ajax({
            url: '@Url.Action("GetTransferDepartment", "Ticket")',
            type: 'GET',
            dataType: 'JSON',
            success: function(data) {
                data.forEach((item) => {
                    $('#department').append(`<option value="${item.departmentId}">${item.departmentName}</option>`);
                });
            }
        });
    }// end
    
     // call the function
    getAssignDepartment();
    // Get data for assign department
    function getAssignDepartment() {
        $.ajax({
            url: '@Url.Action("GetAssignDepartment", "Ticket")',
            type: 'GET',
            dataType: 'JSON',
            success: function(data) {
                data.forEach((item) => {
                    $('#employee-name').append(`<option value="${item.employeeId}">${item.employeeName}</option>`);
                });
            }
        });
    }// end
    
    // call the function
    getByManagerTicket();
    // call data from controller
    function getByManagerTicket() {
        $.ajax({
            url: '@Url.Action("GetByManagerTicket", "Ticket")',
            type: 'GET',
            dataType: 'JSON',
            success: function(data) {
                //console.table(data);
                list_ticket = [];
                list_ticket = data;
                table.clear();
                table.rows.add(list_ticket);
                table.draw();
            }
        });
    }// end
    
    // clear form
    function clearForm() {
        $('#comment').val('');
        $('#service-call').val('');
    }
    
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: "auto",
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
        
</script>