@{
    ViewBag.Title = "Employee";
}

<div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-blue"></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
            <div class="row">
                <div class="col s10 m6 l6">
                    <h5 class="breadcrumbs-title mt-0 mb-0"><span>Manage Employee</span></h5>
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="AdminDashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Manage Employee</li>
                    </ol>
                </div>
                <div class="col s2 m6 l6">
                    <a class="waves-effect waves-light breadcrumbs-btn right btn modal-trigger add-status-btn" href="#modal1"><i class="material-icons left">add</i> Add New</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="container">
            <div class="section section-data-tables">
                <!-- Page Length Options -->
                <div class="row">
                    <div class="col s12">
                        <div class="card mb-4">
                            <div class="card-content">
                                <h4 class="card-title">Employee Data</h4>
                                <div class="row">
                                    <div class="col s12">
                                        <table id="table" class="display">
                                            <thead>
                                            <tr>
                                                <th style="width: 20px">#</th>
                                                <th>Employee Code</th>
                                                <th>Password</th>
                                                <th>Employee Name</th>
                                                <th>Department</th>
                                                <th>JobTitle</th>
                                                <th>Branch</th>
                                                <th>Role</th>
                                                <th>Created Date</th>
                                                <th>Updated Date</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="content-overlay show"></div> *@
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer" style="height: 500px">
    <div class="modal-content">
        <h5>Add New Employee</h5>
        
        <div class="row">
            <div class="input-field col s6">
                <input type="text" class="validate" id="employee-code" required>
                <small class="red-text err-msg-name"></small>
                <label for="employee-code">User Code *</label>
            </div>
            <div class="input-field col s6">
                <input type="text" class="validate" id="password" required>
                <small class="red-text err-msg-name"></small>
                <label for="password">Password *</label>
            </div>
            <div class="input-field col s6">
                <input type="text" class="validate" id="employee-name" required>
                <small class="red-text err-msg-address"></small>
                <label for="employee-name">Name *</label>
            </div>
            <div class="input-field col s6">
                <select class="error" id="department" required>
                    <option value="" selected="selected" disabled="">Choose department</option>
                </select>
            </div>
            <div class="input-field col s6">
                <select class="error" id="job-title" required>
                    <option value="" selected="selected" disabled="">Choose job-title</option>
                </select>
            </div>
            <div class="input-field col s6">
                <select class="error" id="branch" required>
                    <option value="" selected="selected" disabled="">Choose branch</option>
                </select>
            </div>
            <div class="input-field col s6">
                <select class="error" id="role" required>
                    <option value="" selected="selected" disabled="">Choose role</option>
                </select>
            </div>
            <div class="input-field col s6 mt-4">
                <div class="switch">
                    Active
                    <label class="float-right">
                        <input class="active" type="checkbox" id="active" checked="checked" value="1">
                        <span class="lever ml-0">
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light modal-close btn-light-red" type="submit" name="action">
                    Cancel
                    <i class="material-icons left">close</i>
                </button>
                <button class="btn waves-effect waves-light" type="submit" id="btn-emp-save">
                    Save
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal modal-fixed-footer" style="height: 500px">
    <div class="modal-content">
        <h5>Update Employee</h5>
        
        <div class="row">
            <div class="input-field col s6">
                <input type="hidden" id="emp_id">
                <input type="text" class="validate" id="e-employee-code" placeholder="Enter employee code" required>
                <small class="red-text err-msg-name"></small>
                <label for="e-employee-code">User Code *</label>
            </div>
            <div class="input-field col s6">
                <input type="text" class="validate" id="e-password" placeholder="Enter password" required>
                <small class="red-text err-msg-name"></small>
                <label for="e-password">Password *</label>
            </div>
            <div class="input-field col s12">
                <input type="text" class="validate" id="e-employee-name" placeholder="Enter employee name" required>
                <small class="red-text err-msg-address"></small>
                <label for="e-employee-name">Name *</label>
            </div>
            <div class="input-field col s6">
               <select class="error browser-default" id="e-department" required>
                   <option value="" selected="selected" disabled="">Choose department</option>
               </select>
            </div>
            <div class="input-field col s6">
                <select class="error browser-default" id="e-job-title" required>
                    <option value="" selected="selected" disabled="">Choose job-title</option>
                </select>
            </div>
            <div class="input-field col s6">
                <select class="error browser-default" id="e-branch" required>
                    <option value="" selected="selected" disabled="">Choose branch</option>
                </select>
            </div>
            <div class="input-field col s6">
                <select class="error browser-default" id="e-role" required>
                    <option value="" selected="selected" disabled="">Choose role</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light modal-close btn-light-red" type="submit" name="action">
                    Cancel
                    <i class="material-icons left">close</i>
                </button>
                <button class="btn waves-effect waves-light orange" type="submit" id="btn-emp-update">
                    Save
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/vendors/jquery/jquery-3.6.3.min.js"></script>
<script type="text/javascript">
    let employeeSubNav = document.querySelectorAll('.employee-sub-nav');
        
    document.querySelector('.administrator-main-nav').classList.add('active');
    employeeSubNav.forEach((item) => {
        item.classList.add('active');
    });
    
    let table;
    let list_employee = [];
    $(function() {
        table = $('#table').DataTable({
            data: list_employee,
            columns: [
                {data: 'employeeId'},
                {data: 'employeeCode'},
                {data: 'password'},
                {data: 'employeeName'},
                {data: 'departmentName'},
                {data: 'jobTitleName'},
                {data: 'branchName'},
                {data: 'active',
                    'render': function(data) {
                        return `
                            <div class="switch">
                                <label class="float-left">
                                    <input class="edit-active" type="checkbox" ${data === true ? 'checked' : ''}>
                                    <span class="lever ml-0">
                                    </span>
                                </label>
                            </div>
                        `;
                    }
                },
                {data:'createdDate'},
                {data:'updatedDate'},
                {data:'employeeId',
                    'render': function(data) {
                        return `<a id="${data}" class="mb-6 btn-floating waves-effect waves-light modal-trigger cyan btn-edit-emp" href="#modal2"><i class="material-icons">edit</i></a>`;
                    }
                }
            ],
            "responsive": false,
            "lengthChange": true,
            "autoWidth": true,
            "searching": true,
            "paging": true,
            "scrollY": '60vh',
            "scrollX": true,
            "scrollCollapse": true
        });
    });
    // call the function
    getAllEmployee();
    
    // initialize status active or inactive
    let active = 1;
    $("input[type='checkbox'].active").click(function () {
        if ($("input[type='checkbox'].active").is(':checked')) {
            active = 1;
        } else {
            active = 0;
        }
    });// end
    
    //pass data to controller
    $('#btn-emp-save').click(function() {
        let obj_emp = {};
        obj_emp.EmployeeCode = $('#employee-code').val();
        obj_emp.EmployeeName = $('#employee-name').val();
        obj_emp.Password = $('#password').val();
        obj_emp.DepartmentId = $('#department').val();
        obj_emp.JobTitleId = $('#job-title').val();
        obj_emp.BranchId = $('#branch').val();
        obj_emp.RoleId = $('#role').val();
        obj_emp.Active = active;

        $.ajax({
            url: '@Url.Action("PostEmployee", "Employee")',
            type: 'POST',
            dataType: 'JSON',
            data: {objEmp: obj_emp},
            beforeSend: function() {
                console.log("Loading...");
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Successfully added!"});
                    clearForm();
                    getAllEmployee();
                } else {
                    alert("Your data not add please try again later!");
                }
            }
        });
    });// end
    
    //click to get data from database by id
    $(document).on('click', '.btn-edit-emp', function() {
        let emp_id = $(this).attr('id');
        
        $.ajax({
            url: '@Url.Action("GetEmployeeById", "Employee")',
            type: 'GET',
            dataType: 'JSON',
            data: {id: emp_id},
            beforeSend: function() {
              
            },
            success: function(data) {
                //console.table(data)
                data.forEach((item) => {
                    $('#emp_id').val(item.employeeId);
                    $('#e-employee-code').val(item.employeeCode);
                    $('#e-password').val(item.password);
                    $('#e-employee-name').val(item.employeeName);
                    $('#e-department').val(item.departmentId);
                    $('#e-job-title').val(item.jobTitleId);
                    $('#e-branch').val(item.branchId);
                    $('#e-role').val(item.roleId);
                });
            }
        });
    });// end
    
    // pass data to controller for update branch
    $('#btn-emp-update').click(function() {
        let obj_emp = {};
        obj_emp.EmployeeId = $('#emp_id').val();
        obj_emp.EmployeeCode = $('#e-employee-code').val();
        obj_emp.EmployeeName = $('#e-employee-name').val();
        obj_emp.Password = $('#e-password').val();
        obj_emp.DepartmentId = $('#e-department').val();
        obj_emp.JobTitleId = $('#e-job-title').val();
        obj_emp.BranchId = $('#e-branch').val();
        obj_emp.RoleId = $('#e-role').val();
        
        $.ajax({
            url: '@Url.Action("PostUpdateEmployee", "Employee")',
            type: 'POST',
            dataType: 'JSON',
            data: {objEmp: obj_emp},
            beforeSend: function() {
              
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Successfully updated!"});
                    $('#modal2').modal('close');
                    getAllEmployee();
                } else {
                    alert("Your data not update please try again later!");
                }
            }
        });
    });// end
    
    // pass data to controller for update status
    $(document).on('click', '.edit-active', 'td', function() {
        let col_id = $(this).closest('tr');
        let emp_id = col_id.find('td:eq(0)').text();
        let active;
        $(this).is(':checked') ? active = 1 : active = 0;
        
        let obj_atv = {};
        obj_atv.EmployeeId = emp_id;
        obj_atv.Active = active;
        
        $.ajax({
            url: '@Url.Action("EditActive", "Employee")',
            type: 'POST',
            dataType: 'JSON',
            data: {objAtv: obj_atv},
            beforeSend: function() {
              
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Active has been updated!"});
                } else {
                    alert("Your data not update please try again later!");
                }
            }
        });
    });// end
    
    // call the function
    getDepartment();
    // get department for dropdown select box
    function getDepartment() {
        $.ajax({
            url: '@Url.Action("GetDepartment", "Employee")',
            type: 'GET',
            dataType: 'JSON',
            beforeSend: function() {
                
            },
            success: function(data) {
                //console.log(data)
                data.forEach((item) => {
                    $('#department').append(`<option value="${item.departmentId}">${item.departmentName}</option>`);
                    $('#e-department').append(`<option value="${item.departmentId}">${item.departmentName}</option>`);
                });
            }
        });
    }// end
    
    // call the function
    getJobTitle();
    // get job-title for dropdown select box
    function getJobTitle() {
        $.ajax({
            url: '@Url.Action("GetJobTitle", "Employee")',
            type: 'GET',
            dataType: 'JSON',
            beforeSend: function() {
                
            },
            success: function(data) {
                //console.log(data)
                data.forEach((item) => {
                    $('#job-title').append(`<option value="${item.jobTitleId}">${item.jobTitleName}</option>`);
                    $('#e-job-title').append(`<option value="${item.jobTitleId}">${item.jobTitleName}</option>`);
                });
                
            }
        });
    }// end
    
    // call the function
    getBranch();
    // get branch for dropdown select box
    function getBranch() {
        $.ajax({
            url: '@Url.Action("GetBranch", "Employee")',
            type: 'GET',
            dataType: 'JSON',
            beforeSend: function() {
                
            },
            success: function(data) {
                //console.log(data)
                data.forEach((item) => {
                    $('#branch').append(`<option value="${item.branchId}">${item.branchName}</option>`);
                    $('#e-branch').append(`<option value="${item.branchId}">${item.branchName}</option>`);
                });
            }
        });
    }// end
    
    // call the function
    getRole();
    // get role for dropdown select box
    function getRole() {
        $.ajax({
            url: '@Url.Action("GetRole", "Employee")',
            type: 'GET',
            dataType: 'JSON',
            beforeSend: function() {
                
            },
            success: function(data) {
                //console.log(data)
                data.forEach((item) => {
                    $('#role').append(`<option value="${item.roleId}">${item.roleName}</option>`);
                    $('#e-role').append(`<option value="${item.roleId}">${item.roleName}</option>`);
                });
                
            }
        });
    }// end
    
    // fetch all data from database
    function getAllEmployee() {
        $.ajax({
            url: '@Url.Action("GetAllEmployee", "Employee")',
            type: 'GET',
            dataType: 'JSON',
            beforeSend: function() {
                console.log("Loading...");
                //setLoading();
            },
            success: function(data) {
                //console.table(data);
                list_employee = [];
                list_employee = data;
                table.clear();
                table.rows.add(list_employee);
                table.draw();
            }
        });
    }// end
    
    // clear form data
    function clearForm() {
        $('#employee-code').val('');
        $('#employee-name').val('');
        $('#password').val('');
    }
</script>

