@{
    ViewBag.Title = "JobTitle";
}

<div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-blue"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
            <!-- Search for small screen-->
            <div class="container">
                <div class="row">
                    <div class="col s10 m6 l6">
                        <h5 class="breadcrumbs-title mt-0 mb-0"><span>Manage JobTitle</span></h5>
                        <ol class="breadcrumbs mb-0">
                            <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="AdminDashboard">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Manage JobTitle</li>
                        </ol>
                    </div>
                    <div class="col s2 m6 l6">
                        <a class="waves-effect waves-light breadcrumbs-btn right btn modal-trigger" href="#modal1"><i class="material-icons left">add</i> Add New</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="container">
                <div class="section section-data-tables">
                    <!-- Page Length Options -->
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="card-title">JobTitle Data</h4>
                                    <div class="row">
                                        <div class="col s12">
                                            <table id="table" class="display">
                                                <thead>
                                                <tr>
                                                    <th style="min-width: 5px;">#</th>
                                                    <th>JobTitle</th>
                                                    <th>Active</th>
                                                    <th>Created Date</th>
                                                    <th>Updated Date</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-overlay"></div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        
        <h5>Add New JobTitle</h5>

        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate" id="job-title" required>
                <small class="red-text err-msg-name"></small>
                <label for="job-title">JobTitle *</label>
            </div>
            <div class="input-field col s12">
                <div class="switch">
                    Active
                    <label class="float-right">
                        <input class="active" type="checkbox" id="active" checked="checked" value="1">
                        <span class="lever ml-0">
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light modal-close btn-light-red">Cancel
                    <i class="material-icons left">close</i>
                </button>
                <button class="btn waves-effect waves-light" type="submit" id="btn-jtl-save">Save
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal">
    <div class="modal-content">
        
        <h5>Update JobTitle</h5>

        <div class="row">
            <div class="input-field col s12">
                <input type="hidden" id="jtl_id">
                <input type="text" class="validate" id="e-job-title" placeholder="Enter job-title" required>
                <small class="red-text err-msg-name"></small>
                <label for="job-title">JobTitle *</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light modal-close btn-light-red">Cancel
                    <i class="material-icons left">close</i>
                </button>
                <button class="btn waves-effect waves-light orange" type="submit" id="btn-jtl-update">Save
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/vendors/jquery/jquery-3.6.3.min.js"></script>
<script type="text/javascript">
    let jobTitleSubNav = document.querySelectorAll('.job-title-sub-nav');
        
    document.querySelector('.administrator-main-nav').classList.add('active');
    jobTitleSubNav.forEach((item) => {
        item.classList.add('active');
    });
    
    let table;
    let list_jtl = [];
    $(function() {
        table = $('#table').DataTable({
            data: list_jtl,
            columns: [
                {data: 'jobTitleId',
                    'render': function(data) {
                        return `<span>${data}</span>`;
                    }
                },
                {data: 'jobTitleName'},
                {data: 'active',
                    'render': function(data) {
                        return `
                            <div class="switch">
                                <label class="float-left">
                                    <input class="edit-active" type="checkbox" ${data === true ? 'checked' : ''}>
                                    <span class="lever ml-0">
                                    </span>
                                </label>
                            </div>
                        `;
                    }
                },
                {data:'createdDate'},
                {data:'updatedDate'},
                {data:'jobTitleId',
                    'render': function(data) {
                        return `<a id="${data}" class="mb-6 btn-floating waves-effect waves-light modal-trigger cyan btn-edit-jtl" href="#modal2"><i class="material-icons">edit</i></a>`;
                    }
                }
            ],
            "responsive": false,
            "lengthChange": true,
            "autoWidth": true,
            "searching": true,
            "paging": true,
            "scrollY": '60vh',
            "scrollX": true,
            "scrollCollapse": true
        });
    });
    // call the function
    getAllJobTitle();
    
    // initialize status active or inactive
    let active = 1;
    $("input[type='checkbox'].active").click(function () {
        if ($("input[type='checkbox'].active").is(':checked')) {
            active = 1;
        } else {
            active = 0;
        }
    });// end
    
    //pass data to controller
    $('#btn-jtl-save').click(function() {
        let obj_jtl = {};
        obj_jtl.JobTitleName = $('#job-title').val();
        obj_jtl.Active = active;

        $.ajax({
            url: '@Url.Action("PostJobTitle", "JobTitle")',
            type: 'POST',
            dataType: 'JSON',
            data: {objJtl: obj_jtl},
            beforeSend: function() {
                console.log("Loading...");
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Successfully added!"});
                    clearForm();
                    getAllJobTitle();
                } else {
                    alert("Your data not add please try again later!");
                }
            }
        });
    });// end
    
    //click to get data from database
    $(document).on('click', '.btn-edit-jtl', function() {
        let jtl_id = $(this).attr('id');
        
        $.ajax({
            url: '@Url.Action("GetJobTitleById", "JobTitle")',
            type: 'GET',
            dataType: 'JSON',
            data: {id: jtl_id},
            beforeSend: function() {
              
            },
            success: function(data) {
                console.log(data)
                data.forEach((item) => {
                    $('#jtl_id').val(item.jobTitleId);
                    $('#e-job-title').val(item.jobTitleName);
                });
            }
        });
    });// end
    
    // pass data to controller for update branch
    $('#btn-jtl-update').click(function() {
        let obj_jtl = {};
        obj_jtl.JobTitleId = $('#jtl_id').val();
        obj_jtl.JobTitleName = $('#e-job-title').val();
        
        $.ajax({
            url: '@Url.Action("PostUpdateJobTitle", "JobTitle")',
            type: 'POST',
            dataType: 'JSON',
            data: {objTtl: obj_jtl},
            beforeSend: function() {
              
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Successfully updated!"});
                    $('#modal2').modal('close');
                    getAllJobTitle();
                } else {
                    alert("Your data not update please try again later!");
                }
            }
        });
    });// end
    
    // pass data to controller for update status
    $(document).on('click', '.edit-active', function() {
        let col_id = $(this).closest('tr');
        let jtl_id = col_id.find('td:eq(0)').text();
        let active;
        $(this).is(':checked') ? active = 1 : active = 0;
        
        let obj_atv = {};
        obj_atv.JobTitleId = jtl_id;
        obj_atv.Active = active;
        
        $.ajax({
            url: '@Url.Action("EditActive", "JobTitle")',
            type: 'POST',
            dataType: 'JSON',
            data: {objAtv: obj_atv},
            beforeSend: function() {
              
            },
            success: function(data) {
                if (data === 1) {
                    M.toast({html:"Active has been updated!"});
                } else {
                    alert("Your data not update please try again later!");
                }
            }
        });
    });// end
    
    // fetch all data from database
    function getAllJobTitle() {
        $.ajax({
            url: '@Url.Action("GetAllJobTitle", "JobTitle")',
            type: 'GET',
            dataType: 'JSON',
            beforeSend: function() {
                console.log("Loading...");
                //setLoading();
            },
            success: function(data) {
                //console.table(data);
                list_jtl = [];
                list_jtl = data;
                table.clear();
                table.rows.add(list_jtl);
                table.draw();
            }
        });
    }// end
    
    // clear form data
    function clearForm() {
        $('#job-title').val('');
    }
</script>

